.container-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 998;
}

.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
}